@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.homePageTitleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
}

.homePageTitle {
  text-align: center;
  font-size: 50px;
  color: white;
}

.playButtonContainer {
  margin-top: 50px;
  width: 350px;
  height: 60px; 
}

.playButton {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: darkgreen;
  font-size: 25px;
  text-align: cetner;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  transition-duration: 50ms;
}

.playButton:hover {
  background-color: rgb(0, 90, 0);
}

.playButton:active {
  opacity: 75%;
}

.topBar {
  border-width: 5px;
  border-color: green;
  height: 80px;
}

.gameIcon-row {
  border-width: 2px;
  border-color: white;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.gameIcon {
  border-radius: 25px;
}